{% extends 'super_base.html' %}
{% block title %}
Create Schedule event
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Create Schedule event for {{employee.last_name}}</h1>
        <hr>
        <form method="POST" class="form-group" action="/create_event">
            {% csrf_token %}
            <label for="name" >First Name</label><br>
            <input type="text" id="name" name="name" value="{{name}}" ><br>

            <label for="start" >Start Date</label><br>
            <input type="date" id="start" name="start" value="{{start}}">

            <label for="end" >End Date</label><br>
            <input type="date" id="end" name="end" value="{{end}}">

            <button type="submit">Submit</button> 
        </form>
    </div>
{% endblock %}