{% extends 'super_base.html' %}
{% block title %}
Employee Profile
{% endblock %}

{% block content %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><h3>ID</h3></th>
                <th scope="col"><h3>First Name</h3></th>
                <th scope="col"><h3>Last Name</h3></th>
                <th scope="col"><h3>Phone</h3></th>
                <th scope="col"><h3>Dept Name</h3></th>
                <th scope="col"><h3>Role</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h3>{{employee.id}}</h3></td>
                <td><h3>{{employee.first_name}}</h3></td>
                <td><h3>{{employee.last_name}}</h3></td>
                <td><h3>{{employee.phone}}</h3></td>
                <td><h3>{{employee.dept.name}}</h3></td>
                <td><h3>{{employee.role.name}}</h3></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="">
    <div class="">
        <div class="cardlinks">
            <a href="{% url 'employee_report' employee.id %}" style="background-color: green; color: white; padding: 10px; text-decoration: none; display: inline-block; border-radius: 5px;">Download Performance Report</a>
        </div>
        <div class="cardlinks">
            <h2>Total Hours Worked: {{ total_hours_worked }}</h2>
        </div>
        <div class="cardlinks">
            <h2>Average Perfomance: {{ avg_pef }}</h2>
        </div>
        <div class="cardlinks">
            <h2>Tasks Worked On: </h2> {%for task in tasks %}
                <div class="cardx">
                    <div class="left">
                        <h1>{{ task.title}}<h1>
                        <h2>{{ task.description}}<h2>
                    </div>
                    <div class="right">
                            <form method="POST" class="form-group" action="{% url 'task_perfomance' task.id %}">
                                {% csrf_token %}
                                <label for="perfomance" >Perfomance /100</label><br>
                                <input type="text" id="perfomance"  name="perfomance" value="{{task.perfomance}}"><br>
                                <button type="submit">Submit</button> 
                            </form>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}