{% extends 'super_base.html' %}
{% block title %}
Employee Profile
{% endblock %}

{% block content %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><h3>ID</h3></th>
                <th scope="col"><h3>First Name</h3></th>
                <th scope="col"><h3>Last Name</h3></th>
                <th scope="col"><h3>Phone</h3></th>
                <th scope="col"><h3>Dept Name</h3></th>
                <th scope="col"><h3>Role</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h3>{{employee.id}}</h3></td>
                <td><h3>{{employee.first_name}}</h3></td>
                <td><h3>{{employee.last_name}}</h3></td>
                <td><h3>{{employee.phone}}</h3></td>
                <td><h3>{{employee.dept.name}}</h3></td>
                <td><h3>{{employee.role.name}}</h3></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="">
    <h1>Total Hours Worked: {{ total_hours_worked }}</h1>
    <hr>
    <div class="card-gridlinks">
        <div class="cardlinks">
            <p>{{ object.name }} <a href="{% url 'view_profile' employee.id %}" class="vieww-btn">Perfomance</a></p>
        </div>
        <div class="cardlinks">
            <p>{{ object.name }} <a href="{% url 'create_event' employee.id %}" class="vieww-btn">Schedules</a></p>
        </div>
        <div class="cardlinks">
            <p>{{ object.name }} <a href="{% url 'assign_task' employee.id %}" class="vieww-btn">Assign Tasks</a></p>
        </div>
        <div class="cardlinks">
            {% comment %} <p>{{ object.name }} <a href="{% url 'send_sms' %}" class="vieww-btn">Send Message</a></p> {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}