{% extends 'staff_base.html' %} 
{% block title %} 
Schedules
{% endblock %} 
{% block content %}
<div class="container">
    <div class="container-fluid">
        <h1>Leave Schedule</h1>
        <hr>
        <div class="">
            {% for schedule in schedules %}
            <div class="card">
                <h3>{{schedule.user.first_name}} {{schedule.user.last_name}} ---  Start: {{schedule.start}}   End: {{schedule.end}}<h3>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}