{% extends 'staff_base.html' %} 
{% block title %} 
Home 
{% endblock %} 
{% block content %}
<div class="container">
  <h2>
    {% if request.user.is_authenticated %}
    <h2>Welcome to Imaging Solutions Staff Portal </h2>
    {% else %}
    <h2>Welcome to Imaging Solutions, Login to Start your Work</h2>
    {% endif %}

    Imaging Solutions is an online talent verification service. Employers provide
    the following information about themselves and their employees:

  </h2>
</div>
{% endblock %}
