{% extends 'staff_base.html' %} 
{% block title %} 
Tasks Assigned
{% endblock %} 
{% block content %}
<div class="container">
    <div class="container-fluid">
        <h1 class="center-text">All Tasks Assigned</h1>
        <hr>
        <div class="task-grid">
            {%for task in tasks %}
            <div class="task-card">
                <h2>{{ task.title}}<h2>
                <h4>{{ task.description}}<h4>
                <h3>Due: {{ task.end}}<h3>
                
                    <form method="POST" class="form-group" action="{% url 'task_status' task.id %}">
                        {% csrf_token %}
                        <select name="status">
                            <option value="">Task Status</option>
                            <option value="0">In Progress</option> 
                            <option value="1">Completed</option> 
                        </select> <br>
                        <button type="submit">Submit</button> 
                    </form>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}